* {
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: aquamarine;
}


body {
    margin: 0;
    background-color: #111;
}

a {
    font-size: 18px;
    padding: 8px;
}

a:hover {
    color: azure;
    border-color: aqua;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

#dashLink {
    padding: 14px;
    margin: 10px;
    border: 2px ridge aquamarine;
    text-decoration: none;
    font-size: 18px;
}

#dashLink:hover {
    border: 2px ridge aquamarine;
    color: black;
    background-color: azure;
    font-weight: 600;
}

.postsBox {
    margin: 0;
}

.postsBox > h2 {
    margin: 8px;
}

.postLister {
    margin: 0;
}

.post-container {
    margin: 0;
    padding: 8px;
    border: 2px ridge aquamarine;
}

.post-container:hover {
    border: 2px solid aqua
}

.post-link {
    text-decoration: none;
    padding: 8px;
}

.expanded-content {
    padding: 8px;
    background-color: #111;
    font-size: 18px;
}

.expanded-content > div {
    background-color: blue;
    color: azure;
    padding: 8px;
    margin: 0;
}

.commentsElement {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    padding: 8px;
}

.each-comment {
    border: 2px ridge aquamarine;
    padding: 8px;
    margin: 8px;
    font-size: 16px;
}

.comment-link {
    background: none;
    font-size: 16px;
    padding: 12px;
}

.blogsBox {
    padding: 8px;
}

.blogViewer {
    padding: 8px;
}

.blog-container {
    padding: 8px;
    margin: 0;
}